
<button type="button" @onclick="ShowCode">Show Code</button>

<div class="cf-editor-main">


    @if (Code != null)
    {
        <CodeEditor Code="@Code" />
    }
    else
    {
        <CascadingValue Value="this">

            <CodeCreatorList CodeCreatorStorage="CodeCreatorStorage" />

            <div class="cf-code-creator-container-main">
                <DefaultCodeCreatorEditor FlowDefinition="FlowDefinition" CodeCreator="FlowDefinition.CodeCreator" />
            </div>

            @if (!DropZonesVisible)
        {
            <DefaultCodeCreatorParameterEditor @ref="mParameterEditor" CodeCreator="SelectedCodeCreator" />
        }

    </CascadingValue>
    }
</div>


@code {

    [Parameter]
    public FlowDefinition FlowDefinition { get; set; }

    [Parameter]
    public CodeCreatorStorage CodeCreatorStorage { get; set; }

    [CascadingParameter]
    public IModalService Modal { get; set; }

    protected FlowEditorEvents Events { get; set; }

    protected ICodeCreator mSelectedCodeCreator;
    public ICodeCreator SelectedCodeCreator
    {
        get
        {
            return mSelectedCodeCreator;
        }
        set
        {
            mSelectedCodeCreator = value;
            mSelectedCodeCreatorFactory = null;
        }
    }

    protected ICodeCreatorFactory mSelectedCodeCreatorFactory;
    public ICodeCreatorFactory SelectedCodeCreatorFactory
    {
        get
        {
            return mSelectedCodeCreatorFactory;
        }
        set
        {
            mSelectedCodeCreatorFactory = value;
            mSelectedCodeCreator = null;
        }
    }

    public bool DropZonesVisible { get; set; }

    protected string Code { get; set; }

    protected DefaultCodeCreatorParameterEditor mParameterEditor;

    protected override void OnParametersSet()
    {
    }

    internal async Task OnSelectCodeCreator(ICodeCreator pCodeCreator)
    {
        if (pCodeCreator == SelectedCodeCreator)
            return;

        SelectedCodeCreator = pCodeCreator;

        if (Events?.OnAfterSelect != null)
        {
            await Events.OnAfterSelect.InvokeAsync();
        }

        InvokeStateHasChanged();
    }

    public void RegisterEvents(FlowEditorEvents pEvents)
    {
        Events = pEvents;
    }

    public void ShowDropZones()
    {
        StateHasChanged();

        // https://stackoverflow.com/questions/28408720/jquery-changing-the-dom-on-dragstart-event-fires-dragend-immediately
        Task.Run(() =>
        {
            DropZonesVisible = true;
            InvokeAsync(StateHasChanged);
        });
    }

    public void HideDropZones()
    {
        DropZonesVisible = false;
        InvokeStateHasChanged();
    }

    protected async Task<ICodeCreator> GetCurrentCodeCreator()
    {
        if (SelectedCodeCreatorFactory == null)
            return SelectedCodeCreator;

        var ccFactory = SelectedCodeCreatorFactory;

        Type[] customTypes = null;

        if (ccFactory.OverrideableCustomTypes != null)
        {
            customTypes = ccFactory.OverrideableCustomTypes;

            for (int i = 0; i < customTypes.Length; i++)
            {
                var modal = Modal.Show<FindTypeModal>();
                var result = await modal.Result;

                if (result.Data == null)
                    return null;

                customTypes[i] = (Type)result.Data;
            }
        }

        var codeCreator = ccFactory.Create(customTypes);

        if (codeCreator is IParametrized parametrized)
        {
            parametrized.Arguments = new List<IArgument>();

            foreach (var parameter in parametrized.GetParameters())
            {
                var argument = Coreflow.Helper.ArgumentHelper.CreateArgument(parameter);
                parametrized.Arguments.Add(argument);
            }
        }

        return codeCreator;
    }

    public async Task MoveSelectedCodeCreatorBefore(ICodeCreator pAfterCodeCreator)
    {
        var cc = await GetCurrentCodeCreator();

        var newParentInfo = FlowDefinition.FindParentOf(pAfterCodeCreator);
        var newParentCCList = newParentInfo.parent.CodeCreators[newParentInfo.indexContext];
        int newIndex = newParentCCList.IndexOf(pAfterCodeCreator);

        var oldParentInfo = FlowDefinition.FindParentOf(cc);

        if (oldParentInfo.parent == null)
        {
            newParentCCList.Insert(newIndex, cc);
            StateHasChanged();
            return;
        }

        List<ICodeCreator> oldParentCCList = oldParentInfo.parent.CodeCreators[oldParentInfo.indexContext];
        int oldIndex = oldParentCCList.IndexOf(cc);

        newParentCCList.Insert(newIndex, cc);

        if (newParentInfo.parent == oldParentInfo.parent)
            if (oldIndex >= newIndex)
                oldIndex++;

        if (oldIndex != -1)
            oldParentCCList.RemoveAt(oldIndex);

        HideDropZones();
        InvokeStateHasChanged();
    }

    public async Task MoveSelectedCodeCreatorIn(ICodeCreatorContainerCreator pContainer, int pSequence)
    {
        var cc = await GetCurrentCodeCreator();

        var oldParentInfo = FlowDefinition.FindParentOf(cc);

        if (pContainer.CodeCreators == null)
        {
            pContainer.CodeCreators = new List<List<ICodeCreator>>();

            for (int i = 0; i < pContainer.SequenceCount; i++)
            {
                pContainer.CodeCreators.Add(new List<ICodeCreator>());
            }
        }

        if (oldParentInfo.parent == null)
        {
            pContainer.CodeCreators[pSequence].Add(cc);
            StateHasChanged();
            return;
        }

        var oldParentCCList = oldParentInfo.parent.CodeCreators[oldParentInfo.indexContext];
        int oldIndex = oldParentCCList.IndexOf(cc);

        pContainer.CodeCreators[pSequence].Add(cc);

        int newIndex = pContainer.CodeCreators[pSequence].Count - 1;

        if (pContainer == oldParentInfo.parent)
            if (oldIndex >= newIndex)
                oldIndex++;

        oldParentCCList.RemoveAt(oldIndex);

        HideDropZones();
        InvokeStateHasChanged();
    }

    public async Task SetSelectedCodeCreatorAsRoot()
    {
        var cc = await GetCurrentCodeCreator();

        FlowDefinition.CodeCreator = cc;

        HideDropZones();
        InvokeStateHasChanged();
    }

    public void RemoveSelectedCodeCreator()
    {
        if (SelectedCodeCreator == FlowDefinition.CodeCreator)
        {
            FlowDefinition.CodeCreator = null;
            SelectedCodeCreator = null;
            InvokeStateHasChanged();
            return;
        }

        var oldParentInfo = FlowDefinition.FindParentOf(SelectedCodeCreator);

        var oldParentCCList = oldParentInfo.parent.CodeCreators[oldParentInfo.indexContext];
        int oldIndex = oldParentCCList.IndexOf(SelectedCodeCreator);
        oldParentCCList.RemoveAt(oldIndex);

        bool allSequencesEmpty = true;

        foreach (var sequenceList in oldParentInfo.parent.CodeCreators)
        {
            allSequencesEmpty &= sequenceList.Count == 0;
        }

        if (allSequencesEmpty)
        {
            oldParentInfo.parent.CodeCreators = null;
        }

        SelectedCodeCreator = null;
        SelectedCodeCreatorFactory = null;
        InvokeStateHasChanged();
    }

    public void ShowCode()
    {
        if (Code != null)
        {
            Code = null;
            InvokeStateHasChanged();
            return;
        }

        var flowCode = FlowDefinition.GenerateFlowCode();

        if (System.Runtime.InteropServices.RuntimeInformation.OSArchitecture == System.Runtime.InteropServices.Architecture.Wasm)
        {
            Code = flowCode.Code;
            return;
        }

        Code = flowCode.FormattedCode;
    }

    public void InvokeStateHasChanged()
    {
        StateHasChanged();
    }


}
