@page "/"


<button @onclick="RunFlow">Run Flow</button>

<FlowEditor FlowDefinition="mFlowDefinition" CodeCreatorStorage="mCoreflowService.CodeCreatorStorage" />


@code {

    private CoreflowService mCoreflowService;

    private FlowDefinition mFlowDefinition { get; set; }

    protected override void OnInitialized()
    {
        var storage = new MemoryFlowDefinitionStorage();
        var instanceStorage = new NoFlowInstanceStorage();
        var injection = new DictionaryArgumentInjectionStore(new System.Collections.Concurrent.ConcurrentDictionary<string, object>());

        mCoreflowService = new CoreflowService(storage, instanceStorage, injection, "Plugins");

        mFlowDefinition = mCoreflowService.FlowDefinitionFactory.Create("test");

        //mFlowDefinition = (FlowDefinition)mCoreflowService.FlowDefinitionStorage.GetDefinitions().First();
    }

    public void RunFlow()
    {
        mCoreflowService.CompileFlows();
        mCoreflowService.RunFlow(mFlowDefinition.Identifier);
    }

} 