
$gray: #1e1e1e;

$ccMargin: 10px;
$textColor: lighten($gray, 70%);

.cf-code-creator {
    background: #3e3e42;
    border: solid;
    border-width: 1px;
    border-color: grey;
    margin: $ccMargin $ccMargin $ccMargin $ccMargin + 4px;
    border-radius: 3px;
    //   padding: 2px;
    &.cf-code-creator-active {
        background: lighten($gray, 21%);
    }

    i {
        padding: 0 3px;
    }

    .cf-code-creator-input-display-name {
        background: rgba($gray, .25);
        border: none;
        width: 22%;
        color: $textColor;
    }
}

.cf-code-creator-dropzone {
    background: lighten($gray, 20%);
    height: 20px;
    border-radius: 3px;
    margin: $ccMargin;
}

.cf-code-editor-monaco {
    &.cf-code-editor-monaco-inline {
        width: 100%;
        height: 35px;
        border: solid;
        border-width: 1px;
        border-color: lighten($gray, 20%);
    }

    &.cf-code-editor-monaco-fullscreen {
        height: 80vh;
        width: 100%;
    }
}

.cf-editor-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: $gray;
    color: $textColor;
    font-size: 0.9rem;

    .cf-code-creator-list {
        width: 13%;
        justify-self: left;
        padding: $ccMargin 5px;
        position: sticky;
        top: 0;
        max-height: 95vh;
        overflow-y: auto;
        overflow-x: hidden;

        .cf-code-creator {
            margin: 3px;
        }
    }

    .cf-code-creator-container-main {
        width: 70%;
        justify-self: center;
        border: solid;
        border-color: lighten($gray, 10%);
        border-width: 1px;
    }

    .cf-code-creator-parameter-editor {
        width: 17%;
        justify-self: right;
        padding: $ccMargin 5px;
        position: sticky;
        top: 0;
        max-height: 95vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}


.cf-code-creator-parameter-editor-table {
    width: 100%;

    .cf-code-creator-parameter-editor-parameter-title {
        padding-top: 12px;
        line-height: 0.9;
        margin-bottom: 0;
    }
}

.cf-category-title {
    padding-top: 12px;
    line-height: 0.9;
    margin-bottom: 0;
    font-weight: bold;

    &:first-child {
        padding-top: 0;
    }
}
